[Desktop Entry]
Type=Application
Name=BExplorer
Comment=Native Rust file explorer
Exec=bexplorer
Icon=bexplorer
Terminal=false
Categories=System;FileTools;FileManager;
MimeType=inode/directory;
StartupNotify=true
StartupWMClass=bexplorer
